[database]
# Database conneciton string
#
# connection = mysql+pymysql://root:midonet@127.0.0.1/neutron?charset=utf8

[MIDONET]
# The following section contains the configurations for midonet plugin
#
# client = midonet.neutron.client.api.MidonetApiClient
# project_id = service
# password = midonet
# username = neutron
# midonet_uri = http://127.0.0.1:8181/midonet-api
